
{% from "Makefile.common.jinja" import iquote, src_build_dir with context %}

{#
 #   *.c *.cpp -> *.d
 #}
{% set cpp = (src_dir|glob('*.c', '*.cpp') + src_build_dir|glob('*.cpp'))|filemap(src_build_dir, e.names.deps) %}
{% for source, target in cpp %}
{{ target.path }} : {{ source.path }}
	@mkdir -p {{ target.path|dirname }}
	{{v}}{{ e.cc }} {{ e.cflags }} {{ inc_flags }} {{ iquote(source) }} -MM $^ > $@;
{% endfor %}

{#
 #   *.d -> united output
 #}
{{ output_filepath }} : {{ cpp.target_paths() }}
	@echo {{ ('Scanning dependencies of ' ~ src_dir|basename)|colorize('cyan') }}
	@mkdir -p {{ output_filepath|dirname }}
	{{v}}cat $^ > $@;

all : {{ output_filepath }}
	@true

{#
vim:noexpandtab filetype=jinja
#}
