
{% macro transform_sketches(src_dir, add_to) %}
{% set pde = src_dir|glob('*.pde', '*.ino')|filemap(e.build_dir|pjoin(src_dir|basename), '%s.cpp') %}
{% if e.arduino_lib_version.major %}
    {% set header = 'Arduino.h' %}
{% else %}
    {% set header = 'WProgram.h' %}
{% endif %}
{% for source, target in pde.iterpaths() %}
{{ target }} : {{ source }}
	@mkdir -p {{ target|dirname }}
	@echo '#include <{{ header }}>' > $@
	@cat {{ source }} >> $@
{% endfor %}
{% do add_to.extend(pde.targets()) %}
{% endmacro %}

{#
vim:noexpandtab filetype=jinja
#}
