
{#
 #   *.pde -> *.cpp
 #}
{% set pde = src_dir|glob('*.pde')|filemap(e.build_dir, '%s.cpp') %}
{% for source, target in pde.iterpaths() %}
{{ target }} : {{ source }}
	@mkdir -p {{ target|dirname }}
	@echo '#include <WProgram.h>' > $@
	@cat {{ source }} >> $@
{% endfor %}

{#
 #   *.c *.cpp -> dependencies file
 #}
{{ output_filepath }} : {{ pde.target_paths() + (src_dir|glob('*.c', '*.cpp')).paths() }}
	@mkdir -p {{ output_filepath|dirname }}
	@echo {{ ('Scanning dependencies of ' ~ src_dir|basename)|colorize('cyan') }}
	@{{ e.cc }} {{ e.cflags }} {{ inc_flags }} -MM $^ > $@;

all: {{ output_filepath }}

{#
vim:noexpandtab filetype=jinja
#}
